body{
    font-family: 'Segoe ui light', Tahoma, Geneva, Verdana, sans-serif;
}

.img-caption{
    background-color: #fff;
    width: 80%;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}

.item{
    margin-bottom: 30px;
    cursor: pointer;
}

#lightBoxContainer{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}

#lightBoxItem{
    width: 50%;
    height: 80vh;
    background-size: cover;
    background-position: center center;
}

#close{
    position:absolute;
    top: 0;
    right: 0;
}

#lightBoxItem i{
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}