
$mainbg:#343a40;
$secondBg : #17a2b8;
$thirdBg : #666;

body{
  background-color: $mainbg;
}

.main-bg{
  background-color: $mainbg;
}

.second-bg{
  background-color: #17a2b8;
}

.third-bg{
  background-color: $thirdBg;
}

.form{
  position: absolute;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.submit-btn{
  background-color: $secondBg;
  color: #fff;
  &:hover{
    background-color: #3797a6;
    color: #fff;
  }
}
