/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';


$bgColor:#131722;
$lightBgColor:#24baef;
$bgTransparent:rgba(36,186,239,.6) ;
$fontColor:#fff;
$borderColor:#a8a8a83d;
$borderHeight:1px;
$secondFontColor:#949cb0;


body{
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: $bgColor;
  color: $fontColor;
}

a, a:hover, .navlink{
  font-size: 18px !important;
  color: $fontColor !important;
  text-decoration: none !important;
}


.brdr
{
  height: 1px;
  background-color: $borderColor;
}

.second-color{
  color: $secondFontColor;
}

.bg-color{
  background-color: $bgColor;
}

.vote{
  background-color: $lightBgColor;
  padding: 5px;
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 10px;
}


.genre{
  background-color: $lightBgColor;
  padding: 7px;
  margin-right: 15px;
  border-radius: 10px;
}
