*{
    box-sizing: border-box;
}

body{
    background-color: #313131;
    font-family: 'Poiret One', cursive;
}

.clearfix{
    clear: both;
}

.member{
    width: 25%;    
    padding: 10px;
    float: left;
}

.inner{
    border: 5px solid #fff;
    position: relative;
    overflow: hidden;
}

.member img{
    width: 100%;
    transition: transform 1s 1s;
}

.member:hover img{
    transform: scale(1.1,1.1);
}

.caption{
    background-color: rgba(42,63,85 ,0.7);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    transition:opacity 1s, transform 1s;
}

.member:hover .caption{
    transform:rotate(360deg);
    opacity: 1;
}

.caption h2{
    color: crimson;
    background-color: rgba(0,0,0,0.4);
    padding: 10px;
    margin: 0;
    position: relative;
    left: 120%;
    transition: left 1s 2s;
}

.member:hover h2{
    left: 0%;
}

.caption p{
    font-size: 18px;
    padding: 15px;
    position: relative;
    left: 120%;
    transition: left 1s 2.5s;
}

.member:hover p {
    left: 0%;
}


@media screen and (min-width:768px) and (max-width:992px){
    .member{
        width: 50%;
    }
}
@media screen and (max-width:600px){
    .member{
        width: 100%;
    }
}