body{
    background-image: url(../images/spaceBackground2.jpg);
    background-size: cover;
}

.myContainer{
    width: 10%;
    position: absolute;
    left: 0;
    bottom: 0;
    transition:left 0.5s linear;
}

.myContainer #rocket{
    width:30%;
}
.myContainer #bullet{
    width:40%;
    position: relative;
    bottom: -60px;
    transition: bottom 1s;
    z-index: -1;
}



