<section id="signIn" class="">
  <form [formGroup]="signInForm" (ngSubmit)=" signInForm.valid && signIn()">
    <div class="form">

      <div *ngIf="isLogout" class="alert alert-success text-center">
        <strong>{{successLogoutMsg}}</strong>
      </div>

      <div class="mb-3">
        <input [class.is-valid]="signInForm.get('email')?.status =='VALID'" type="email" formControlName="email" class="form-control" placeholder="Enter Your Email">

        <div *ngIf="signInForm.get('email')?.errors && signInForm.get('email')?.touched" class="alert alert-danger my-2">
          <p *ngIf="signInForm.get('email')?.errors?.required">Email is required</p>
          <p *ngIf="signInForm.get('email')?.errors?.email">Email is Invalid</p>

        </div>
      </div>

      <div class=" mb-3">
        <div class="input-group">
          <input  [class.is-valid]="signInForm.get('password')?.status =='VALID'" [type]="type" formControlName="password" class="form-control " placeholder="Enter Your Password">
          <span (click)="changePasswordAppearance()" style="cursor: pointer;" class="input-group-text" id="basic-addon2"><i class="fas fa-eye"></i></span>
        </div>

        <div *ngIf="signInForm.get('password')?.errors && signInForm.get('password')?.touched" class="alert alert-danger my-2">
          <p *ngIf="signInForm.get('password')?.errors?.required">Password is required</p>
          <ul class="list-unstyled" *ngIf="signInForm.get('password')?.errors?.pattern">
            <li>password must contain at least eight characters</li>
            <li>at least one number</li>
            <li>and both lower and uppercase letters</li>
            <li>and special characters</li>
          </ul>
        </div>

      </div>
      <button  [disabled]="signInForm.invalid" [ngStyle]="signInForm.invalid?isStyleInvalid:isStyleValid" class="btn submit-btn w-100"><span *ngIf="!isClicked">Sign In</span><span *ngIf="isClicked">Waiting...</span></button>

      <div *ngIf="isError" class="alert alert-danger text-center my-3">
        <strong>{{errorMsg}}</strong>
      </div>
    </div>
  </form>
</section>
