section
{
  background-image: url("../../assets/images/background_img.jpg");
  background-size: cover;
  background-position: center center;
}

h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
